body {
	padding-top: 20px;
}

html {
	background: transparent;
}

.navbar-inner {
	background-image: none;
	border: none;
}

.navbar .nav>li>a,
.navbar .brand {
	text-shadow: none;
}

#tools {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 200px;
	margin: 10px;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
}

#tools .btn-group {
	margin: 0 0 5px 0;
	width: 202px;
}

#tools .btn-group .btn {
	width: 25%;
	margin-bottom: 0px;
}

#tools .btn-group .btn.disabled {
	font-weight: bold;
	width: 50%;
}

#tools .btn-toolbar {
	margin: 0;
}

#tools button {
	width: 200px;
	margin-bottom: 5px;
}

#palette {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 200px;
	margin: 10px;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
}

#palette .btn-toolbar {
	margin: 5px 0 0 0;
}

#palette .btn-group {
	width: 100%;
	margin: 0px;
}

#palette .btn {
	width: 33%;
	margin: 0px;
}

#colours .colour {
	padding: 5px;
	text-align: center;
	font-size: 14px;
}

#header,
#menu,
#wrapper {
}
#header,#header input {
	margin-top: 10px;
	margin-bottom: 0px;
	line-height: auto;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 38px;
	border: none;
	display: block;
	background: transparent;
}
#menu {
	height: 40px;
	margin-bottom: 10px;
}
#menu ul {
	list-style: none;
	width: 600px;
	padding: 0px;
	display: block;
	float: none;
	clear: both;
	margin-left: 10px;
}
#menu li {
	float: left;
	display: inline-block;
	margin-right: 20px;
}
#menu li a {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	line-height: 40px;
}
#wrapper {
	background: #fff;
	height: auto;
}
#wrapper p {
	padding: 10px;
	margin: 0px;
	color: #353535;
}